/*

!.gitignore
!README.md 
!.zshrc
!installer.sh
!pckgs.txt

!.config/
.config/*

!.config/btop/
!.config/fastfetch/
!.config/ghostty/
!.config/hypr/
!.config/ranger/
!.config/rofi/
!.config/waybar/
!.config/mpd/
!.config/rmpc/
!.config/nvim/
